Pillow>=10.0.0
colorama>=0.4.6
imageio>=2.22.0
numpy>=1.24.0
pandas>=2.0.0
gymnasium>=0.29.0
stable-baselines3>=2.0.0
simglucose
torch>=2.0.0
scipy>=1.10.0
optuna>=3.0.0
matplotlib
fastapi>=0.110.0
uvicorn[standard]>=0.23.0
sqlmodel>=0.0.16
passlib[bcrypt]>=1.7.4
python-jose[cryptography]>=3.3.0
python-multipart>=0.0.6
python-dotenv>=1.0.0
pydantic-settings>=2.3.0